<%= form_for [post, comment] do |f| %>
  <div class="form-group">
    <%= f.text_field :body, class: 'form-control', placeholder: "Write a comment" %>
  </div>

  <div class="form-group">
    <%= f.submit "Submit", class: 'btn btn-default' %>
  </div>

<% end %>
