<% if @comment.destroyed? %>
  $('#comment-' +<%= @comment.id %>).fadeOut([100]);
  $('.js-comments-count').html("<%= @comment.user.comments.count %> comments");
<% else %>
  $('#comment-' +<%= @comment.id %>).prepend("<div class='alert alert-danger'>There was an error deleting the comment.<%= flash[:error] %></div>");
<% end %>