<div class="first-page">
    <div class="container">
        <div class="row">
            <div class="col-md-8 large-block">
                <h1>Tiffit</h1>
                <p>Tiffit is your number one resource for sharing links with your friends!</p><br/>
                <p>
                    <%= link_to "SIGN IN", new_user_session_path, class: 'button' %> or <%= link_to "SIGN UP", new_user_registration_path, class: 'button' %> today!
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row column-row">
        <div class="col-md-4">
            <div class="column">
                <h2>Bewitch Your Enemies</h2>
                <p>Turn your former enemies into best friends by sharing this amazing content with them. After reading it, they'll do anything for you!</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="column">
                <h2>Bottle Glory</h2>
                <p>Ever wish you could rise above the masses and have your voice heard? Look no further. Thousands of users have skyrocketed to fame after using Tiffit.</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="column">
                <h2>Live Forever</h2>
                <p>Immortality—the digital kind. Your words, the links you've shared, the posts you've made, your profile will live forever on this site.</p>
            </div>
        </div>
    </div>
</div>
<br/>