@import "bootstrap";

.first-page {
  background-image: image-url('bg.png');
  background-repeat:no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-position: center 170px;
  max-width:100%;
  border-bottom:5px solid #1474f7;
  height:650px;
  background-color:#b4e2ee;
  color:#595959;
}

.home-bar {
  background:#b4e2ee;
  padding:20px;
}

.info-bar {
  padding:20px;
}
.nav {
  margin-top: 5px;
}

.vote-arrows {
  width: 20px;
  text-align: center;
  margin-right: 10px;
}

.vote-header {
  margin-top: 10px;
}

.voted {
  opacity: 0.5;
}

.tabbable {
  margin-left: 15px;
}

.tab-content {
  margin-top: 15px;
}

body {
  background-color:#f5f5f5;
  color:#595959;
}

.large-block {
  margin-bottom:50px;
}

.large-block > h1 {
  font-size:63px;
}

.large-block > p {
  font-size:20px;
  font-weight:300;
}

.navbar {
  background-color:#1474f7;
  border-radius:0;
  margin-bottom:0px;
}

.home-bar a, .nav a {
  color:white;
  text-decoration:none;
}

.home-bar a:hover, .nav a:hover {
  color:white;
  text-decoration:none;
}

.column-row {
  margin:50px 0;
  background-color:#f5f5f5;
}

.column {
  background-color:white;
  padding:10px 15px;
  border-bottom:5px solid #b7e2ee;
  text-align:center;
  margin:0 auto;
  height:200px;
  color:#595959;
}

.column > h2 {
  font-size:25px;
}

.button {
  color: white;
  line-height: 150%;
  background: #1474f7;
  padding: 1.2rem 3.5rem;
  margin: 0 0 1rem 0;
  border: 0;
  -webkit-border-radius: 20em;
  border-radius: 20em;
  letter-spacing: 1.5px;
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
  font-size: 1.8rem;
}

.button:hover {
  background:#595959;
  color:white;
  text-decoration:none;
}

.bttn {
  color: white;
  background: #b4e2ee;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
  padding: 1.2rem 2.5rem;
  margin: 0 0 1rem 0;
  border: 0;
  -webkit-border-radius: 20em;
}

.bttn:hover {
  background:#79c6da;
}

.bttn-cancel {
  background:#ed7c59;
}

.bttn-cancel:hover {
  background:#d95c36;
}

.bttn-favorite {
  background:#f3c366;
  text-underline:none;
}

.bttn-favorite:hover {
  background:#f4bb4d;
}

.bttn-white {
  background:#bebebe;
}

.bttn-white:hover {
  background:#a5a5a5;
}

a.bttn {
  color:white;
  text-decoration:none;
}

a.bttn:hover {
  color:white;
  text-decoration:none;
}

.nav > li > a, .nav > li > a:active, .nav > li > a:focus {
  background-color:#1474f7;
}

.nav > li > a:hover {
  background:#1474f7;
  color:#e7e7e7;
}

.user-info > a {
  color:white;
}

.user-info > a:hover {
  color:#1474f7;
}

.info-bar a, a {
  color:#79c6da;
  text-decoration:none;
}

.info-bar a:hover, a:hover, a:active, a:focus {
  color:#595959;
  text-decoration:none;
}

.nav-tabs > li > a {
  border-radius:0;
}